PORT=3000
BASE_PATH=/
TRUST_PROXY=

ADMIN_USERNAME=admin
ADMIN_PASSWORD=change-me
JWT_SECRET=change-me

LOG_TO_FILE=0

GIFS_PUBLIC_ORIGIN=
GIFS_PUBLIC_CATEGORY=
GIFS_DEFAULT_CATEGORY_ID=
GIFS_ALLOWED_DOMAINS=tenor.com,giphy.com,klipy.com,imgur.com,discord.com,discordapp.com,discordapp.net
GIFS_MAX_FILE_SIZE_MB=15
GIFS_MAX_MEGAPIXELS=50
GIFS_MEDIA_TIMEOUT_SECONDS=60

DISCORD_BOT_TOKEN=
DISCORD_ALLOWED_USER_IDS=
DISCORD_CHANNEL_IDS=
DISCORD_PUBLIC_ORIGIN=
DISCORD_RATE_LIMIT_MAX=10
DISCORD_RATE_LIMIT_WINDOW_MINUTES=10
