PORT=3000
BASE_PATH=/
TRUST_PROXY=

ADMIN_USERNAME=admin
ADMIN_PASSWORD=change-me
JWT_SECRET=change-me

LOG_TO_FILE=0

GIFS_PUBLIC_CATEGORY=
GIFS_DEFAULT_CATEGORY_ID=
GIFS_ALLOWED_DOMAINS=tenor.com,giphy.com,klipy.com,imgur.com,discord.com,discordapp.com,discordapp.net

DISCORD_BOT_TOKEN=
DISCORD_ALLOWED_USER_IDS=
DISCORD_CHANNEL_IDS=
DISCORD_PUBLIC_ORIGIN=
