PORT=3000
BACKEND_BASE_PATH=/gifselector
ADMIN_USERNAME=admin
ADMIN_PASSWORD=change-me
JWT_SECRET=dev-secret-change-me
TRUST_PROXY=1
ALLOWED_IMPORT_DOMAINS=tenor.com,giphy.com,klipy.com,imgur.com,discord.com,discordapp.com,discordapp.net
